p {
    color: black;
}

.form {
    background-color: rgb(245,245,220);
}

/*
max-width: (x)vw; to change position of elements within the div that contains a list.
Nearer to the list <- 100 && 0 -> Farther away from list 
*/


.checkboxDiv {
    max-width: 2vw;
}

.listDiv {
    max-width: 33vw;
}

.addSubDiv {
    max-width: 5vw;
}

.colorCodeDiv {
    max-width: 10vw;
}

.buttonDiv {
    max-width: 5vw;
}


#uncompletedTasks {
    background-color: lightblue;
}

#completedTasks {
    background-color: lightgreen;
}